<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/note_table.css' %}">
  </head>
  <body>
    <ul>
      <li id ="menu"><a href="add-note">Add Note</a></li>
      <li id ="menu"><a href="note-list">Note List</a></li>
      <li style="background-color: #111"><a href="/lab-4">Note Table</a></li>
    </ul>
    <h1 class="heading__title">💌 Your Note Table 💌</h1>
    <h3> <br><button class= "submit" onclick="location.href = '/lab-4/add-note'">Add Notes</button></h3> <br>
    <div class ="table">
    <br><br>
    <table>
      <tr>
        <th>Date</th>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %} 
		    {% for note in notes %}
        <tr>
			    <td>  {{ note.msg_date }} </td>
          <td>  {{ note.msg_to }} </td>
          <td>  {{ note.msg_from }} </td>
          <td>  {{ note.msg_title }} </td>
          <td>  {{ note.msg}} </td>
		    </tr>
		    {% endfor %}
	    {% endif %}
    </table>
    <br><br>
    </div>
  </body>
</html>
