<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/note_form.css' %}">
</head>
<body>
  <ul>
      <li style="background-color: #111"><a href="add-note">Add Note</a></li>
      <li id ="menu"><a href="note-list">Note List</a></li>
      <li id ="menu"><a href="/lab-4">Note Table</a></li>
  </ul>
  <div class="wrapper">
    <form class="form" action="" method="POST" >
      {% csrf_token %}
      <div class="pageTitle title"> 💌 Add Note 💌 </div>
      <input type="date" class="date formEntry" name="msg_date" placeholder="Date" />
      <input type="text" class="to formEntry" name="msg_to" placeholder="To" />
      <input type="text" class="from formEntry" name="msg_from" placeholder="From"/>
      <input type="text" class="msg_title formEntry" name="msg_title" placeholder="Title"/>
      <textarea class="message formEntry" name="msg" placeholder="Message"></textarea>
      <input class="submit formEntry" type="submit" value= "Submit"> </h3>
    </form>
  </div>
  <script src="app.js"></script>
</body>

</html>