<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/note_list.css' %}">
  </head>
  <body>
    <!-- 

GRADIENT BANNER DESIGN BY SIMON LURWER ON DRIBBBLE:
https://dribbble.com/shots/14101951-Banners

-->
  <ul>
    <li id ="menu"><a href="add-note">Add Note</a></li>
    <li style="background-color: #111"><a href="note-list">Note List</a></li>
    <li id ="menu"><a href="/lab-4" name="index">Note Table</a></li>
  </ul>
<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">💌 Your Note Data Card 💌</h1>
    <p class="heading__credits">Design by Melati Eka Putri</p>
  </div>
  <h3><br><button class= "submit" onclick="location.href = '/lab-4/add-note'">Add Notes</button></h3> <br><br>
  <div class="cards">
    {% if notes %} 
		    {% for note in notes %}
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <p>  </p>
          <h2 class="card__title">{{ note.msg_title}}</h2>
          <p class="card__apply">
            To: {{note.msg_to}} <br> From: {{note.msg_from}} <br> Date: {{note.msg_date}} </p>
          <p class="card__apply" id="msg"><br><br>{{note.msg}}<br><br></p>
        </div>
		    {% endfor %}
	    {% endif %}
  </div>
</div>
  </div>
</div>
  </body>
</html>
