<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/note_table.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <ul>
      <li id ="menu"><a href="add-note">Add Note</a></li>
      <li id ="menu"><a href="note-list">Note List</a></li>
      <li style="background-color: #111"><a href="/lab-4">Note Table</a></li>
    </ul>
    <div class="div1"><h1 class="heading__title">💌 Your Note Table 💌</h1></div>
    <h3> <br><button class= "submit" onclick="location.href = '/lab-4/add-note'">Add Notes</button></h3> <br>
    <div class ="table">
    <br><br>
    <table>
      <tr>
        <th>Date</th>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
        <th>Actions</th>
      </tr>
      {% if notes %} 
		    {% for note in notes %}
        <tr>
			    <td>  {{ note.msg_date }} </td>
          <td>  {{ note.msg_to }} </td>
          <td>  {{ note.msg_from }} </td>
          <td>  {{ note.msg_title }} </td>
          <td>  {{ note.msg}} </td>
          <td><button class="action" id="view">View</button>
          <button  class="action" onclick="location.href = '/lab-4/add-note'">Edit</button>
          <button  class="action" onclick="location.href = '/lab-4/add-note'">Delete</button></td>
		    </tr>
		    {% endfor %}
	    {% endif %}
    </table>
    <br><br>
    </div>
  </body>
  <style>
      .action {
      width: 100px;
      padding: 10px;
      color: white;
      background-color: #1C0C5B;
      font-size: 15px;
      margin: 2px;
     }
  
    .action:hover {
      border-top: 5px solid #0e3750;
      border-radius: 0%;
      background-color: #A12568;
    }
  </style>
</html>
