<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List Form</title>
  </head>
  <body>
    <h1>💃🕺 Hi, Welcome to Add Friend! 💃🕺</h1> 
    <form action="" method="POST">
        {% csrf_token %}
        <h3> <br> Name <br> <input type="text" name= "name" placeholder="Your Friend Name" maxLength="30" id="id_name"> <br><br>
        NPM <br><input type="text" name= "npm" placeholder="Your Friend NPM" maxLength="30" id="id_npm"> <br><br>
        Date of Birth <br><input type="date" name= "DOB" id="id_DOB"> <br><br>
        <input type="submit" value= "Submit"> </h3>
        <h3><button><a href="/lab-3">Return to Friend List</button></h3> <br><br>
    </form>
  </body>
  <style>
    h1   {
        color: violet;
        background-color: black;
        font-family: verdana;
        padding: 10px; 
        text-align: center}
    h3    {
        font-family: verdana;
        padding: 10px; 
        text-align: center;}
    form {
        background-image: url('https://wallpaperaccess.com/full/1382357.jpg');
    }
    button {
      font-size : 20px;
      background-color: #008CBA;
      color: white;
      padding: 10px;
      border-radius: 12px;
      border: 2px solid black;
      transition-duration: 0.4s;
    }
    button:hover {
      background-color: #bd46b7; 
      color: white;
    }
    a {
        color: white;
        text-decoration: none;
    }
  </style>
</html>