<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <h1>👩‍🦰 Your Friend List 🧑</h1>
    <div class ="table">
    <br><br>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if friends %} 
		    {% for friend in friends %}
        <tr>
			    <td>  {{ friend.name }} </td>
          <td>  {{ friend.npm }} </td>
          <td>  {{ friend.DOB }} </td>
		    </tr>
		    {% endfor %}
	    {% endif %}
    </table>
    <br><br>
    <h3><button onclick="location.href = '/lab-3/add'">Add Friend</button></h3> <br><br>
    </div>
  </body>
  <style>
    table, th, td {
        border: 2px solid black;
        margin: 2px;
        font-size: 20px;
        font-family: verdana;}
    th, td, h1 {
        padding: 10px;}
    table {
      margin-left: auto;
      margin-right: auto;}
    h1   {
        color: pink;
        background-color: black;
        font-family: verdana;
        padding: 10px; 
        text-align: center}
    .table {
        background-image: url('https://wallpapercave.com/wp/wp2814385.jpg');
    }
    h3 {
      text-align : center;
    }
    button {
      font-size : 20px;
      background-color: #008CBA;
      color: white;
      padding: 10px;
      border-radius: 12px;
      border: 2px solid black;
      transition-duration: 0.4s;
    }
    button:hover {
      background-color: #bd46b7; 
      color: white;
    }
  </style>
</html>
