<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
      <!-- TODO loop from Notes model -->
      <h1> 📧 Inbox: {{num}} messages </h1>
      {% if notes %} 
		    {% for note in notes %}
        <h3 style="color:blue"> New Message from {{note.msg_from}}: {{ note.msg_title }} </h1>
			    <p> 🙍‍♀️ To:   {{ note.msg_to }} <br>
              📆 Date: {{ note.msg_date }} </p>
          <p style="background-color:pink"> {{ note.msg }} </p>
		    {% endfor %}
	    {% endif %}
      <!-- END SECTION -->
  </body>
</html>
