/* https://codepen.io/shantedenise/pen/GYyxWV - Shante Austin */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background-color: #3D2C8D;
    }
  #title-Tag-Line {
    font-size: 20px;
  }
  
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #844064;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
    text-align: center;
  }
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  
  .date {
    background-color: #ebebeb;
    color: #1C0C5B;
  }
  .date:hover {
    border-bottom: 5px solid #0e3721;
  }
  
  .to {
    background-color: #ebebeb;
    color: #1C0C5B;
  }
  .to:hover {
    border-bottom: 5px solid #0e3721;
  }
  
  .from {
    background-color: #ebebeb;
    color: #1C0C5B;
  }
  
  .from:hover {
    border-bottom: 5px solid #0e3721;
  }
  
  .msg_title {
    background-color: #ebebeb;
    color: #1C0C5B;
  }
  
  .msg_title:hover {
    border-bottom: 5px solid #0e3721;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #0e3721;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #1C0C5B;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
    background-color: #916BBF;
  }
  
  a {
          color: white;
          text-decoration: none;
      }
  h3 {
    text-align: center;
  }

  /* https://www.w3schools.com/css/css_navbar_horizontal.asp */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #1C0C5B;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    
    #menu a:hover {
      background-color: #916BBF;
    }