/* https://codepen.io/ericmahoney/pen/oNLMOYw - Eric Mahoney */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-container {
  padding: 30px;
}

/* HEADING */

.heading {
  text-align: center;
}

.heading__title {
  font-weight: 800;
  font-size: 50px;
  color: #C996CC;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}


/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 10px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  background: linear-gradient(#1D2D50,  #133B5C, #1E5F74);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__title {
  grid-row: 0/2;
  font-weight: 600;
  color: #ffffff;
}

#msg {
  overflow-wrap: break-word;
  width: 450px;
}

/* CARD BACKGROUNDS */

.card-1 {
  background: linear-gradient(  #1C0C5B,  #3D2C8D, #916BBF);
}

/* BUTTON */
   .submit {
  width: 300px;
  padding: 10px;
  color: white;
  background-color: #1C0C5B;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  border-top: 5px solid #0e3750;
  border-radius: 0%;
  background-color: #916BBF;
}

a {
        color: white;
        text-decoration: none;
    }
h3 {
  text-align: center;
}

/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C0C5B;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu a:hover {
  background-color: #916BBF;
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}
