* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .heading__title {
      font-weight: 800;
      font-size: 50px;
      color: #C996CC;
    }
      table, th, td {
          border: 2px solid black;
          margin: 2px;
          font-size: 12px;
          font-family: verdana;}
      th, td, h1 {
          padding: 10px;
          }
      th {
        background-color: #1C0C5B;
        color: white;
      }
      td {
        background-color: #916BBF;
        color: white;
      }
      table {
        margin-left: auto;
        margin-right: auto;}
      h1   {
          color: #1C0C5B;
          font-family: verdana;
          padding: 10px; 
          text-align: center}
     .submit {
      width: 300px;
      padding: 10px;
      color: white;
      background-color: #1C0C5B;
      font-size: 20px;
      box-shadow: 5px 5px 5px 5px rgba(78, 72, 77, 0.219);
     }
  
    .submit:hover {
      box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
      transform: translateY(-3px);
      border-top: 5px solid #0e3750;
      border-radius: 0%;
      background-color: #916BBF;
    }
  
    a {
            color: white;
            text-decoration: none;
        }
    h3 {
      text-align: center;
    }
    /* https://www.w3schools.com/css/css_navbar_horizontal.asp */
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #1C0C5B;
    }
  
    li {
      float: left;
    }
  
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
  
    /* Change the link color to #111 (black) on hover */
    #menu a:hover {
      background-color: #916BBF;
    }